* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, rgb(255, 82, 139),rgb(39, 6, 185));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

form {
    background-color: whitesmoke;
    width: 25%;
    height: 73%;
    padding: 35px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px -8px black;
    text-align: center;
}

form > h1 {
    margin: 10px 0;
    color: black;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logIn__signUp__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    cursor: pointer;
}

.logIn {
    width: 50%;
    background-color: rgba(148, 148, 148, 0.159);
}

.logIn > a {
    color: black;
}

.signUp {
    width: 50%;
    background-image: linear-gradient(to left, rgb(255, 82, 139),rgb(39, 6, 185));
}

.signUp > a {
    color: whitesmoke;
}

form > div {
    margin: 15px;
}

div.inp > input {
    width: 100%;
    padding: 13px;
    border: 2px solid gray;
    border-radius: 5px;
    color: gray;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

#names {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.submit__signUp {
    width: 100%;
    background-image: linear-gradient(to left, rgb(255, 82, 139),rgb(39, 6, 185));
    margin-top: 20px;
}

.submit__signUp > a {
    color: whitesmoke;
}

.address__form {
    color: rgb(254, 50, 118);
    margin-right: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}
